<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.www" versionCode="10" version="1.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Youtter</name>

    <description>
        Youtter App
    </description>

    <author href="https://youtter.com" email="javier.fernandez@tech-impulse.com">
        TechImpulse
    </author>

    <gap:config-file platform="ios" parent="UISupportedInterfaceOrientations" overwrite="true">
        <array>
            <string>UIInterfaceOrientationLandscapeOmg</string>
        </array>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIStatusBarHidden" overwrite="true">
        <true/>
    </gap:config-file>
    <gap:splash src="js/images/ic_launcher.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="js/images/ic_launcher.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="js/images/ic_launcher.pngg" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="js/images/ic_launcher.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="js/images/ic_launcher.png" gap:platform="ios" width="1024" height="768" />

    <gap:config-file platform="android" parent="/manifest">
        <supports-screens android:xlargeScreens="false" android:largeScreens="false" android:smallScreens="false" />
    </gap:config-file>

</widget>


