<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.youtter.www"
        versionCode="11" version="1.0.2">

    <!-- versionCode is optional and Android only -->

    <name>Youtter</name>

    <description>
        Youtter App
    </description>

    <author href="https://youtter.com" email="javier.fernandez@tech-impulse.com">
        TechImpulse
    </author>

    <preference name="orientation" value="portrait"/>

</widget>


